.header1 {
  font-size: 65px;
  line-height: 72px;
  letter-spacing: -1.5px;
  font-weight: 700;
}

.header2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.5px;
  font-weight: 700;
}

.header3 {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -1.5px;
  font-weight: 500;
}

.header4 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.014em;
  font-weight: 500;
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.subtitle2-regular {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.subtitle2-medium {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.subtitle2-semibold {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.paragraph1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.paragraph2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.paragraph3 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
